<script src="https://d3js.org/d3.v4.min.js"></script>
<!DOCTYPE html>
<meta charset="utf-8">

<p>
  <strong>Name:</strong>
  <%= @charity.name %>
  <br><br>
  <strong>Operation and Information:</strong>
  <%= @charity.description %><br><br>
  <strong>Rating:</strong>
  <%= @charity.rating %>
</p>
<%= pie_chart [["Category", 100], ["Category", 0]] %>